{% extends "layout.html" %}
{% block content %}
    <!-- <h1>{{ current_user.username }}</h1>
    <p>Name = {{ current_user.firstName }} {{ current_user.lastName }}</p> -->
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user_image }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <div class="content-section">
            <form method="POST" action=""">
                {{form.hidden_tag()}}
                <fieldset class="form-group">
                    <legend class="border_bottom mb-4">
                        Edit Profile
                    </legend>
                    <div class="form-group">
                        {{form.firstName.label(class="form-control-label")}}
                        {% if form.firstName.errors %}
                            {{form.firstName(class="form-control form-control-lg is-invalid")}}
                            {% for error in form.firstName.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.firstName(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.lastName.label(class="form-control-label")}}
                        {% if form.lastName.errors %}
                            {{form.lastName(class="form-control form-control-lg is-invalid")}}
                            {% for error in form.lastName.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.lastName(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.email.label(class="form-control-label")}}
                        {% if form.email.errors %}
                            {{form.email(class="form-control form-control-lg is-invalid")}}
                            {% for error in form.email.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.email(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.address.label(class="form-control-label")}}
                        {% if form.address.errors %}
                            {{form.address(class="form-control form-control-lg is-invalid")}}
                            {% for error in form.address.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.address(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.phone.label(class="form-control-label")}}
                        {% if form.phone.errors %}
                            {{form.phone(class="form-control form-control-lg is-invalid")}}
                            {% for error in form.phone.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.phone(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form.bank.label(class="form-control-label")}}
                        {% if form.bank.errors %}
                            {{form.bank(class="form-control form-control-lg is-invalid")}}
                            {% for error in form.bank.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.bank(class="form-control form-control-lg")}}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}