{% extends "layout.html" %}

{% block content %}
    <div class="row">

        <div class="col-md-4">
            <div class="content-section">
                <ul class="list-group">
                    <h2><a class="article-title article-metadata col-md-4" href="{{ url_for('Account') }}">Account Menu</a></h2>
                    <a class="list-group-item list-group-item-light" href="{{ url_for('EditProfile') }}">Edit Profile</a>
                    <a class="list-group-item list-group-item-light" href="{{ url_for('ChangePassword') }}">Change Password</a>
                    <a class="list-group-item list-group-item-light" href="{{ url_for('Chat') }}">Messages</a>
                    {% if current_user.usertype.id >= 3 %}
                        <a class="list-group-item list-group-item-light" href="{{ url_for('UserCart') }}">Cart</a>
                    {% else %}
                        <a class="list-group-item list-group-item-light" href="{{ url_for('AddItem') }}">Add Item</a>
                        <a class="list-group-item list-group-item-light" href="{{ url_for('AddCategory') }}">Add Category</a>
                        <a class="list-group-item list-group-item-light" href="{{ url_for('ViewUser') }}">View Users</a>
                    {% endif %}
                    <a class="list-group-item list-group-item-light" href="{{ url_for('AllTransaction') }}">Transaction</a>
                    <a class="list-group-item list-group-item-light" href="{{ url_for('AllHistory') }}">History</a>
                    </ul>
                </div>
            </div>
        
        <div class="content-section col-md-8">
            {% block contentInfo %}{% endblock %}
        </div>
    </div>
    
{% endblock content %}
