{% extends "account.html" %}

{% block contentInfo %}
    {% for cart in carts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='Database/Pictures/Item/' + cart.item.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <!-- <a class="mr-2 col-md-9">{{ cart.item.itemcategory.name }}</a> -->
                <h3 class="article-title" href="{{ url_for('ViewItem' ,item_id=cart.item.id) }}">{{ cart.item.name }}</h3>
                <div>
                    <!-- <a class="" href="{{ url_for('Home') }}">Add to cart</a>
                        <a class="" href="{{ url_for('Home') }}">Edit</a> -->
                    </div>
                </div>
                <article>
                    <span style="float:left">Rp {{ cart.item.price }} / {{ cart.item.unit }}</span>
                    <span style="float:right">{{ cart.quantity }} {{ cart.item.unit }}</span>
                    <br>
                    <span style="float:right">Rp {{ cart.quantity * cart.item.price }}</span>
                    <button class="btn btn-outline-info" style= "" id="editButton{{cart.id}}" onclick="">Remove from cart</button>
                    <script type="text/javascript">
                        document.getElementById("editButton{{cart.id}}").onclick = function () {
                            location.href='{{ url_for("DeleteCart", cart_id=cart.id) }}';
                        };
                    </script>
            </article>
        </div>
        </article>
    {% endfor %}
    {% if carts|length > 0 %}
        <div style="width:100%; margin:10px;">
            <span style="float:right; margin:20px;" >Total price Rp {{ total }}  </span>
            <button type="submit" name="submit" class="btn btn-outline-info" style="margin:20px;" action="">Buy</button>
        </div>
    {% endif %}
{% endblock contentInfo %}
