{% extends "account.html" %}

{% block contentInfo %}
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user_image }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border_bottom mb-4">
                    Edit Password
                </legend>
                <div class="form-group">
                    {{form.oldPassword.label(class="form-control-label")}}
                    {% if form.oldPassword.errors %}
                        {{form.oldPassword(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.oldPassword.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    {% else %}
                        {{form.oldPassword(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.newPassword.label(class="form-control-label")}}
                    {% if form.newPassword.errors %}
                        {{form.newPassword(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.newPassword.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    {% else %}
                        {{form.newPassword(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.confirmPassword.label(class="form-control-label")}}
                    {% if form.confirmPassword.errors %}
                        {{form.confirmPassword(class="form-control form-control-lg is-invalid")}}
                        {% for error in form.confirmPassword.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    {% else %}
                        {{form.confirmPassword(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
    
{% endblock contentInfo %}
