{% extends "account.html" %}

{% block contentInfo %}
<p>{{user}}</p>
<div id="scroll" class="chat">
    {% for chat in chats %}
        {% if chat.user_id == user.id%}
        <li class="other">
            <div class="msg">
                <p>{{chat.description}}</p>
                <time>{{chat.date.strftime('%d-%m-%Y %H:%M')}}</time>
            </div>
        </li>
        {% else %}
            <li class="self">
                <div class="msg">
                    <p>{{chat.description}}</p>
                    <object class="sender">By: {{chat.user}} </object>
                    <time>{{chat.date.strftime('%Y-%m-%d')}}</time>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</div>
<form method="POST" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}
        <div class="form-group">
            <object align="left" style="min-width: 50%; width: 75%">
                {{form.text(class="form-control")}}
            </object>
            <object style="float:right; max-width:15; margin: 10;%">
                {{form.submit(class="btn btn-outline-info")}}
            </object>
            <!-- {{form.text.label(class="form-control-label")}} -->
        </div>
</form>
<script>
    window.onload = function ScrollToBottom() {
        var objDiv = document.getElementById("scroll");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>
{% endblock contentInfo %}