{% extends "account.html" %}

{% block contentInfo %}
    {% for chat in chats %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='Database/Pictures/User/' + chat.user.image_file) }}">
          <div class="media-body">
            <form method="POST" action="" enctype="multipart/form-data">
              <fieldset class="form-group">
                <div class="article-metadata row">
                  <a class="col-md-4 mr-2" href="{{ url_for('AdminChat', username=chat.user.username) }}">{{ chat.user.username }}</a>
                </div>
              </fieldset>
            </form>
            <h2><a class="article-title">{{ chat.user }}</a></h2>
            <p class="article-content">{{ chat.user.email }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock contentInfo %}
