{% extends "account.html" %}

{% block contentInfo %}
<div id="scroll" class="chat">
    {% for chat in chats %}
        {% if chat.user_id ==  current_user.id %}
        <li class="self">
            <div class="msg">
                <p>{{chat.description}}</p>
                <time>{{chat.date.strftime('%d-%m-%Y %H:%M')}}</time>
            </div>
        </li>
        {% else %}
        <li class="other">
            <div class="msg">
                <p>{{chat.description}}</p>
                <time>{{chat.date.strftime('%d-%m-%Y %H:%M')}}</time>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</div>
<form id="chat-bottom" method="POST" action="" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <object id="chat-box-input">
        {{form.text}}
    </object>
    <object id="chat-box-send">
        {{form.submit}}
    </object>
    <div class="form-group">
        <!-- {{form.text.label(class="form-control-label")}} -->
    </div>
</form>
<script>
    window.onload = function ScrollToBottom() {
        var objDiv = document.getElementById("scroll");
        objDiv.scrollTop = objDiv.scrollHeight;
    }
</script>
{% endblock contentInfo %}