{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border_bottom mb-4">
                Edit Category
            </legend>
            <div class="form-group">
                {{form.name.label(class="form-control-label")}}
                {% if form.name.errors %}
                    {{form.name(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.name.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.name(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.description.label(class="form-control-label")}}
                {% if form.description.errors %}
                    {{form.description(class="form-control form-control-lg is-invalid")}}
                    {% for error in form.description.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                {% else %}
                    {{form.description(class="form-control form-control-lg")}}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
    <button id="deleteButton" class="btn btn-outline-info">Delete</button>
</div>
<script type="text/javascript">
    document.getElementById("deleteButton").onclick = function () {
        location.href='{{ url_for("DeleteCategory", category_id=category.id) }}';
    };
</script>
{% endblock content %}
