{% extends "layout.html" %}
{% block content %}
{% endblock content %}

{% block side %}
    <div class="content-section">
        <ul class="list-group">
            <a class="list-group-item list-group-item-light" href="{{ url_for('Account') }}">Edit Profile</a>
            <a class="list-group-item list-group-item-light" href="{{ url_for('Cart') }}">Cart</a>
            <a class="list-group-item list-group-item-light" href="{{ url_for('Transaction') }}">Transaction</a>
            <a class="list-group-item list-group-item-light" href="{{ url_for('History') }}">History</a>
        </ul>
    </div>
{% endblock side %}