{% extends "layout.html" %}

{% block content %}
    <div class="row">
    </div>
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="rounded-circle article-img-big col-md-8" src="{{ url_for('static', filename='Database/Pictures/Item/' + item.image_file) }}">
                        </div>
                        <div class="col-md-8">
                            <a class="mr-2 col-md-8 article-metadata">{{ item.categories.name }}</a>
                            <h1><a class="article-title col-md-8">{{ item.name }}</a></h1>
                            <small class="text-muted col-md-8">Rp {{ item.price }} / {{ item.unit }}</small>
                            <p class="article-content col-md-8">{{ item.sold }} Sold</p>
                        </div>
                    </div>
                <div>
                  <!-- <a class="" href="{{ url_for('Home') }}">Add to cart</a>
                  <a class="" href="{{ url_for('Home') }}">Edit</a> -->
                </div>
            </div>
            <p class="article-content">{{ item.description }}</p>
          </div>
        </article>
    
{% endblock content %}
