{% extends "layout.html" %}

{% block content %}
    <article class="media content-section">
        <div class="media-body" style="width: 100%">
            <div class="article-metadata" style="width: 100%">
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-5 row">
                        <button id="prevBtn" class="btn btn-outline-info"><</button>
                        <img id="image_to_show" class="article-img-big" style="width: 60%: height: 60%;">
                        <button id="nextBtn" class="btn btn-outline-info">></button>
                        <script>
                            
                        </script>
                    </div>
                    <div class="col-md-7">
                        <div class="row article-metadata">
                            <a class=" col-md-8" href="{{ url_for('categories.ViewCategory' ,category_id=item.itemcategory.id) }}">{{ item.itemcategory.name }}</a>
                        </div>
                        {% if current_user.is_authenticated %}
                            {% if current_user.usertype.name == "Admin" or current_user.usertype.name == "Owner" %}
                                <button class="btn btn-outline-info" style= "margin: 10px; float:right;" id="editButton" onclick="">Edit Item</button>
                            {% endif %}
                            {% if current_user.usertype.name == "Customer" %}
                                <form method="POST" action="" enctype="multipart/form-data" class="col-md-4" style="float:right">
                                    {{form.hidden_tag()}}
                                    <fieldset class="form-group">
                                        <div class="form-group">
                                            {{form.quantity.label(class="form-control-label")}}
                                            {% if form.quantity.errors %}
                                                {{form.quantity(class="form-control form-control-lg is-invalid")}}
                                                {% for error in form.quantity.errors %}
                                                    <span>{{error}}</span>
                                                {% endfor %}
                                            {% else %}
                                                {{form.quantity(class="form-control form-control-lg")}}
                                            {% endif %}
                                        </div>
                                        {{form.submit(class="btn btn-outline-info")}}
                                     </fieldset>
                                </form>
                            {% endif %}
                        {% endif %}
                        <h1><a class="article-title col-md-8">{{ item.name }}</a></h1>
                        <small class="text-muted col-md-8">Rp {{ item.price }} / {{ item.unit }}</small><br>
                        <small class="text-muted col-md-8">{{ item.sold }} Sold</small><br>
                        <small class="article-content col-md-8">{{ item.stock }} Left</small>
                    </div>
                </div>
            <div>
            </div>
        </div>
            <p style="word-wrap: break-word;" class="article-content">{{ item.description }}</p>
        </div>
    </article>
    <script type="text/javascript">
        document.getElementById("editButton").onclick = function () {
            location.href='{{ url_for("items.EditItem", item_id=item.id) }}';
        };
    </script>
    <script>
        let img_arr=[];
        let index = 0;
        
        {% for img in images %}
            img_arr.push("{{img}}");
        {% endfor %}
        console.log(img_arr);
        window.onload = function ShowImage() {
            console.log(img_arr[index]);
            document.getElementById('image_to_show').src="{{ url_for('static', filename='Database/Pictures/Item/' ) }}"+img_arr[index];
            }
        document.getElementById("prevBtn").onclick = function () {
            if (index>0){
                --index;
            }
            console.log(img_arr[index]);
            document.getElementById('image_to_show').src="{{ url_for('static', filename='Database/Pictures/Item/' ) }}"+img_arr[index];
        };
        document.getElementById("nextBtn").onclick = function () {
            if (index+1 < img_arr.length){
                ++index;
            }
            console.log(index);
            document.getElementById('image_to_show').src="{{ url_for('static', filename='Database/Pictures/Item/' ) }}"+img_arr[index];
        };
    </script>
    
{% endblock content %}
