{% extends "account.html" %}

{% block contentInfo %}
{% if current_user.usertype.name == "Admin" or current_user.usertype.name == "Owner" %}
<form method="POST" class="row" style="margin:10px" action="{{ url_for('AllTransaction')}}">
    <select style="margin-right:10px; display: block; padding: 10px 20px 10px 10px; background: #d4d4d4; outline: none; border: none; border-radius: 5px;" name="statusSelect">
        {% for status in allStatus %}
        <option value ="{{status[0]}}" {% if status[0]==selected %} selected="selected"{% endif %}>{{status[1]}}</option>
        {% endfor %}
    </select>
    <button type="submit" style="display: block" class="btn btn-outline-info">Go</button>
</form>
{% endif %}
{% for transaction in transactions %}
    <article class="media content-section">
        <div class="media-body">
            <h3><a class="article-title" href="{{ url_for('ViewTransaction', transaction_id=transaction.id) }}"> TransactionNumber #{{ transaction.id }}</a></h3>
            {% if current_user.usertype.name == "Admin" or current_user.usertype.name == "Owner" %}
            <p>
                Customer name: {{transaction.user}}
            </p>
            {% endif %}
            {% if current_user.usertype.name == 'Customer' or current_user.usertype.name == 'Owner' %}
                <button class="btn btn-outline-info" style= "float: right" id="editButton{{transaction.id}}" onclick="">Delete Transaction</button>
                <script type="text/javascript">
                    document.getElementById("editButton{{transaction.id}}").onclick = function () {
                        location.href='{{ url_for("DeleteTransaction", transaction_id=transaction.id) }}';
                    };
                </script>
            {% endif %}
            <a class="article-title">{{ transaction.status.description }}</a>
            <p>Total: Rp.{{ transaction.total_price }}</p>
            <time><a class="article-title">{{ transaction.date.strftime('%d-%m-%Y %H:%M') }}</a></time>
        </div>
    </article>
{% endfor %}
{% endblock contentInfo %}
