{% extends "account.html" %}

{% block contentInfo %}
{% for detail in details %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='Database/Pictures/Item/' + detail.item.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="article-title" href="{{ url_for('ViewItem' ,item_id=detail.item.id) }}">{{ detail.item.name }}</h3>
            <div>
            </div>
                </div>
                <article>
                    <span style="float:left">Rp {{ detail.item.price }} / {{ detail.item.unit }}</span>
                    <span style="float:right">{{ detail.quantity }} {{ detail.item.unit }}</span>
                    <br>
                    <span style="float:right">Rp {{ detail.quantity * detail.item.price }}</span>
            </article>
        </div>
        </article>
    {% endfor %}
{% endblock contentInfo %}
