{% extends "account.html" %}

{% block contentInfo %}
{% for transaction in transactions %}
    <article class="media content-section">
        <div class="media-body">
            <h3><a class="article-title" href="{{ url_for('ViewTransaction', transaction_id=transaction.id) }}"> TransactionNumber #{{ transaction.id }}</a></h3>
            <a class="article-title">{{ transaction.status.description }}</a>
            <p>Rp.{{ transaction.total_price }}</p>
            <time><a class="article-title">{{ transaction.date.strftime('%d-%m-%Y %H:%M') }}</a></time>
        </div>
    </article>
{% endfor %}
{% endblock contentInfo %}
