{% extends "transactionDetail.html" %}

{% block button %}
{% if transaction.status_id == 1 and current_user.usertype.name == "Owner" %}
    <button class="btn btn-outline-info" style= "float: right" id="confirmPayment">Confirm Payment</button>
{% elif transaction.status_id == 2 and (current_user.usertype.name == "Owner" or current_user.usertype.name == "Admin") %}
    <form action="{{ url_for('CourrierTransaction', transaction_id=transaction.id) }}" style="width:100%;">
        <select name="courrier">
                {% for ship in ships %}
                    <option value ="{{ship[0]}}">{{ship[1]}}</option>
                {% endfor %}
        </select>
        <input class="form-control" type="text" placeholder="Shipping number" name="shipping_number" style="width:100%;"> 
        <button class="btn btn-outline-info" style= "float: right">Deliver</button>
    </form>
{% endif %}
{% if transaction.status.id == 3 and current_user.usertype.name == "Customer" %}
    <button class="btn btn-outline-info" style= "float: right" id="recievePackage">Recieve Package</button>
{% endif %}




<script type="text/javascript">
    document.getElementById("confirmPayment").onclick = function () {
        location.href='{{ url_for("ConfirmPaymentTransaction", transaction_id=transaction.id)}}';
    };
</script>
<script type="text/javascript">
    document.getElementById("recievePackage").onclick = function () {
        location.href='{{ url_for("RecievedTransaction", transaction_id=transaction.id)}}';
    };
</script>
{% endblock button %}