{% extends "account.html" %}
{% block contentInfo %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='Database/Pictures/User/' + current_user.image_file) }}">
        <div class="media-body">
            <form method="POST" action="" enctype="multipart/form-data">
            <fieldset class="form-group">
                <div class="article-metadata row">
                <a class="col-md-4 mr-2">{{ current_user.username }}</a>
                </div>
            </fieldset>
            </form>
            <h2><a class="article-title">{{ current_user }}</a></h2>
            <p class="article-content"><i class="fas fa-at"></i> {{ current_user.email }}</p>
            <p class="article-content"><i class="fa fa-home"></i> {{ current_user.address }}</p>
            <p class="article-content"><i class="fa fa-phone"></i> {{ current_user.phone }}</p>
            <p class="article-content"><i class="fa fa-credit-card"></i> {{ current_user.bank }}</p>
        </div>
    </article>
{% endblock contentInfo%}