<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Surabaya Tech Shop</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="loginbox">
      <h1>Login</h1>
      <div class="username">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input id="usrn" type="text" placeholder="Username" name="" value="">
      </div>
      
      <div class="password">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input id="pswd" type="password" placeholder="Password" name="" value="">
      </div>
      <input class="btn" type="button" name="" onclick="Check()" value="Sign in">
    </div>
    <script src="login.js"></script>
  </body>
</html>
