@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #333333;
}
.loginbox{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #717171;
}
.loginbox h1{
    float: left;
    font-size: 40px;
    border-bottom: 5px solid;
    margin-bottom: 10px;
    padding: 2px 0
}
.username{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #919191;
}
.password{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #919191;
}
.username i{
    width: 20px;
    float: bottom;
    text-align: center;
}
.password i{
    width: 20px;
    float: bottom;
    text-align: center;
}
.username input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 240px;
    float: center;
    margin: 0 10px;
}
.password input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 240px;
    float: center;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #717171;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}